@using AutoModeratedForum.Entities
@model IEnumerable<AutoModeratedForum.Entities.Comment>

<h2>Comments</h2>

<div id="comments-list">
    @foreach (var comment in Model)
    {
        <div class="comment">
            <p>@comment.Content</p>
            <small>Added on @comment.CreatedAt.ToLocalTime()</small>
        </div>
    }
</div>

<hr />

<h3>Add comment</h3>
<form method="post" asp-controller="Comments" asp-action="AddComment">
    <textarea name="content" required></textarea><br />
    <button type="submit">Add</button>
</form>
